.dashboardContainer
  width: 100vw
  display: flex
  align-items: center
  justify-content: center

  .dashboardWrapper
    width: max(70vw, 650px)
    border-radius: 20px
    background: #181A1B

    .dashboardTop
      width: 100%
      display: flex
      border-bottom: 4px solid #232628

      .radarChart
        padding: 0px 20px 0px 45px
        border-right: 4px solid #232628
        flex: 2
      
      .stats
        padding: 20px 45px 20px 20px
        display: flex
        flex-direction: column
        justify-content: space-evenly
        flex: 10

        .stat
          display: flex
          align-items: center
          text-align: center

          h3
            text-align: left
            width: max(120px, 5vw)

          h2
            font-size: 40px

    .dashboardBottom
      padding: 20px 45px