.typetestContainer
  display: flex
  justify-content: center
  align-items: center
  color: white
  margin-top: 50px

  .typetestWrapper
    width: max(50vw, 350px)
    border-radius: 20px
    background: #181A1B

    .typetestInfo
      display: flex
      justify-content: space-between
      align-items: center
      padding: 10px 30px
      font-size: 24px
      border-bottom: 3px solid #232628

    .typetestConfig
      button
        border: 3px solid white
        width: 50px
        height: 30px
        font-size: 16px
        background: none
        cursor: pointer

        &:nth-child(1)
          border-radius: 10px 0 0 10px
      
        &:nth-child(2)
          border-right: 2px solid white
          border-left: 2px solid white
        
        &:nth-child(3)
          border-radius: 0 10px 10px 0 
        
        &:hover
          background: white
          color: #232628

      
    .typetestInput
      input
        width: 10px
        height: 1px
        position: absolute
        outline: none
        top: 0
        left: 0
        z-index: -1
    
    #caret
      width: 2px
      height: 33px
      position: absolute
      background: white
      transition: left 0.1s, top 0.1s

    .typetestText
      box-sizing: content-box
      height: 126px
      display: flex
      border: 30px solid #181A1B
      border-radius: 0 0 20px 20px
      font-size: 22px
      flex-wrap: wrap
      overflow-y: hidden

      .words
        margin: 10px 0
        
        span
          padding-right: 1px
          margin-bottom: 10px
          padding-bottom: 3px 
          border-bottom: 2px solid transparent

          &.correct
            color: #42484D

          &.incorrect, &.extra
            color: #DB6E6E
            border-bottom: 2px solid #DB6E6E

