.typetestContainer
  display: flex
  justify-content: center
  align-items: center
  color: white
  margin-top: 50px

  .typetestWrapper
    width: max(50vw, 350px)
    height: 230px
    border-radius: 20px
    overflow-y: hidden
    background: #181A1B

    .typetestInfo
      display: flex
      justify-content: flex-end
      padding: 10px
      font-size: 24px
      border-bottom: 3px solid #232628
      
    .typetestInput
      input
        width: 1px
        height: 0px
        position: absolute
        outline: none
        top: 0
        left: 0
        z-index: -1
        

        

    .typetestText
      box-sizing: content-box
      display: flex
      padding: 40px
      font-size: 22px
      flex-wrap: wrap

      .words
        margin-right: 10px
        margin-bottom: 20px
        
        span
          padding-right: 1px
          margin-bottom: 10px
          padding-bottom: 3px 
          border-bottom: 2px solid transparent

          &.active
            border-left: 2px solid white

          &.correct
            color: #42484D

          &.incorrect, &.extra
            color: #DB6E6E
            border-bottom: 2px solid #DB6E6E

