.typetestContainer
  display: flex
  justify-content: center
  align-items: center
  color: white
  margin-top: 50px

  .typetestWrapper
    width: max(50vw, 350px)
    height: 230px
    border-radius: 20px
    overflow-y: hidden
    background: #181A1B

    .typetestInfo
      display: flex
      justify-content: flex-end
      padding: 10px
      font-size: 24px
      border-bottom: 3px solid #232628

    .typetestText
      display: flex
      padding: 40px
      font-size: 22px
      flex-wrap: wrap

      input

      .word
        margin-right: 10px
        margin-bottom: 20px

      span
        margin-right: 1px

        .active

        .correct
          color: #42484D

        .incorrect
          color: #DB6E6E

