.navbarContainer
  .navbarTop
    height: 100px
    color: white
    display: flex
    align-items: center
    justify-content: center

    .logo
      font-size: 40px
      font-weight: 400

  .navbarBottom
    height: 50px
    display: flex
    align-items: center
    justify-content: center

    ul
      display: inline-flex
      border: 2px solid white
      border-radius: 10px

      li
        color: white
        padding: 8px

        a:hover
          border-bottom: 2px solid white 
