.navbarContainer
  .navbarTop
    height: 100px
    color: white
    display: flex
    align-items: center
    justify-content: center

    .logo
      font-size: 40px
      font-weight: 400

  .navbarBottom
    height: 50px
    display: flex
    align-items: center
    justify-content: center

    ul
      display: inline-flex
      border: 2px solid white
      border-radius: 10px

      li
        color: white
        padding: 8px

        a:hover
          border-bottom: 2px solid white 

  .user.protyper
    background: linear-gradient(90deg, #fdf8b0, #e0aa3e, #fdf8b0, #e0aa3e)

  .user.diamond
    background: linear-gradient(90deg, #D4EFF2, #70D1F4, #D4EFF2, #70D1F4)
  
  .user.platinum
    background: linear-gradient(90deg, #ffffff, #bec1bd, #ffffff, #bec1bd)

  .user.bronze
    background: linear-gradient(90deg, #F0B877, #B3592F, #F0B877, #B3592F)


  span.user
    margin: 0 100px
    background-size: 300% 300%
    animation: gradient 2s linear infinite
    height: 100vh
    background-clip: text
    -webkit-background-clip: text
    color: transparent

@keyframes gradient
  0%
    background-position: left

  100%
    background-position: right